@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: rgb(0, 140, 9);
}

.cardrandom {
    background: rgb(255, 255, 255);
    height: 800px;
    width: 600px;
    display: flex;
    margin: auto;
    margin-top: 25px;
}



.cardBody {
    width: 60%;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 1500%;
}
bold{
    margin: 0;
    padding: 0;
}

.iconos {
    font-size: 900%;
    width: 20%;
    display: flex;
    align-items: center;
    margin-inline: 35px;
}

.cardHead {
    height: 100%;
    flex-direction: column;
}

.cardFooter {
    transform: rotate(180deg);
    flex-direction: column;
    padding-top: 0;
    height: 100%;

}